:root{
    --first-title-fonts-color: #FFFFFF;
    --second-title-fonts-color: #212121;
    --third-title-fonts-color: #212121;
    --general-text-fonts-color: #757575;
    --logo-header-first-color: #2196F3;
    --logo-header-second-color: #000000;
    --navlink-fonts-color: #212121;
    --telmail-header-fonts-color: #757575;
    --hover-navlink-fonts-color: #2196F3;
    --hero-button-text-color: #FFFFFF;
    --logo-footer-first-color: #2196F3;
    --logo-footer-second-color: #FFFFFF;
    --hero-background-color: #2F303A;
    --telmail-footer-fonts-color: #FFFFFF;
}

body{
    font-family: Roboto, sans-serif;
}

.link-no-tdn {
    text-decoration: none;
}
.list-no-ls {
    list-style: none;
}

/*------------HEADER-------------*/
.header-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em; 
    color: var(--logo-header-first-color);
}

.header-post-logo {
    color: var(--logo-header-second-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--navlink-fonts-color);
}

.header-link:hover, .header-link:focus {
    color: var(--hover-navlink-fonts-color);
}

.header-telmail-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--telmail-header-fonts-color);
}
.header-telmail-link:hover, .header-telmail-link:focus {
    color: var(--hover-navlink-fonts-color);
}

/*------------------BODY-------------------*/
.hero{
    background-color: var(--hero-background-color);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--first-title-fonts-color);
}
.hero-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-button-text-color);
    background-color: #2196F3;
}

.superiority-title{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-fonts-color);
}
.superiority-after-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--general-text-fonts-color);
}

.scills-title{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-fonts-color);    
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-fonts-color);
}

.team-member-names {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--third-title-fonts-color);
}

.team-member-positions {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--general-text-fonts-color);
}

/*-----------------FOOTER------------------*/
.footer{
    background-color: #2F303A;
}
.footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em; 
    color: var(--logo-footer-first-color);
}
.footer-post-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em; 
    color: var(--logo-footer-second-color);
}
.address-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--telmail-footer-fonts-color);
}
.address-telmail-link{
    color: rgba(255, 255, 255, 0.6);
}

/*---------------PORTFOLIO-----------------*/
.product-list-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--third-title-fonts-color);
    background-color: #F5F4FA;
}
.product-list-btn:hover, .product-list-btn:focus {
    color: var(--hero-button-text-color);
    background-color: var(--hover-navlink-fonts-color);    
}  

.products-example-partner {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--third-title-fonts-color);
}

.products-example-type {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--general-text-fonts-color);
}
